#foot {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* 100% of page width */
    padding: 0 0px 0px 0px; /* standard edge margin (15px) */
    height: 150px; /* space for input height (38px) + bottom padding (15px) */
}
#right-align-text {
    text-align: right;
}
div.container-fluid{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 15px;
}