#messageFeed {
    height: 60%;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 0px;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    overflow: hidden;
}

div.font-weight-bold {
    text-align: right;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}